body {
  margin: 0;
}

main {
  margin: auto;
  max-width: 1440px;
}

header {
  display: flex;
  align-items: center;
  margin-top: 42px;
  flex-direction: column;
  margin-bottom: 17px;
}

header img {
  width: 50px;
  height: auto;
}

header h1 {
  color: #d04f4f;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: center;
}

.form-inputs {
  position: relative;
}

.form-inputs .form-control {
  height: 45px;
  background-color: #e7e7e7;
  border-radius: 5px;
  border: none;
}

.form-inputs .form-control:focus {
  box-shadow: none;
  border: 1px solid #000;
}

.form-control::placeholder {
  color: #000000;
  opacity: 0.25;
}

.form-inputs i {
  position: absolute;
  right: 10px;
  top: 10px;
}

.filter {
  margin-bottom: 20px;
  position: relative;
  left: 7%;
  width: fit-content;
}

.ingredients_input {
  background-color: #3282f7;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 2rem 1rem 1rem;
}

.appliances_input {
  background-color: #68d9a4;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 2rem 1rem 1rem;
}

.ustensils_input {
  background-color: #ed6454;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 1rem 2rem 1rem 1rem;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
}

.btn {
  padding: 17px;
  border-radius: 5px !important;
}

.arrow,
.arrow1,
.arrow3 {
  padding-left: 2rem;
}

.arrow2 {
  display: none;
}

.btn-primary {
  background-color: #3282f7;
  border: none;
  margin-right: 1rem;
}

.blue {
  background-color: #3282f7;
  border: none;
  margin-right: 1rem;
  column-fill: initial;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 30px;
  position: absolute;
  inset: 0px auto auto 0px;
  transform: translate(0px, 60px);
}

.blue a:hover {
  background-color: #2a6ed1;
}

.btn-success {
  background-color: #68d9a4;
  border: none;
  margin-right: 1rem;
}

.green {
  background-color: #68d9a4;
  border: none;
  margin-right: 1rem;
  column-fill: initial;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 30px;
  position: absolute;
  inset: 0px auto auto 0px;
  transform: translate(0px, 60px);
}

.btn-success:hover {
  background-color: #68d9a4;
}

.btn-success:active {
  background-color: #68d9a4;
}

.green a:hover {
  background-color: #4dbd7f;
}

.btn-danger {
  background-color: #ed6454;
  border: none;
  margin-right: 1rem;
}

.red {
  background-color: #ed6454;
  border: none;
  margin-right: 1rem;
  column-fill: initial;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 30px;
  position: absolute;
  inset: 0px auto auto 0px;
  transform: translate(0px, 60px);
}

.btn-danger:hover {
  background-color: #ed6454;
}

.red a:hover {
  background-color: #c94b3b;
}

.recipes_container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.recipe_card {
  width: 380px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.content {
  width: 380px;
  height: 250px;
  background-color: #e7e7e7;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

.dropdown-item {
  color: white;
}

.first_line {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.card-title {
  font-weight: 600;
}

.content_card {
  padding: 0px 18px 45px 20px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.time {
  margin-bottom: 0;
  font-size: 18px;
  white-space: nowrap;
}

.ingredient_list {
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  width: 41%;
}

.text_card {
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  width: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

b,
strong {
  font-weight: bold;
}

@media (min-width: 768px) {
  .col-md-9 {
    flex: 0 0 auto;
    width: 86%;
  }
}

.input_group1,
.input_group2,
.input_group3 {
  display: none;
}

.input_group1 img,
.input_group2 img,
.input_group3 img {
  position: absolute;
  top: 25px;
  right: 6%;
}

.btn-blue {
  display: flex;
  align-items: center;
  gap: 13px;
  background-color: #3282f7;
  color: white;
  padding: 5px 20px 5px 20px;
}

.btn-blue:hover {
  background-color: #3282f7;
  color: white;
}

.btn-green {
  display: flex;
  align-items: center;
  gap: 13px;
  background-color: #68d9a4;
  color: white;
  padding: 5px 20px 5px 20px;
}

.btn-green:hover {
  background-color: #68d9a4;
  color: white;
}

.btn-red {
  display: flex;
  align-items: center;
  gap: 13px;
  background-color: #ed6454;
  color: white;
  padding: 5px 20px 5px 20px;
}

.btn-red:hover {
  background-color: #ed6454;
  color: white;
}

.selected-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
